* {
  font-family: 'Roboto', sans-serif;
  color: #FFF;
}

body {
  margin: 0 auto;
  text-align: center;
  background-image: url(http://pre07.deviantart.net/0bdd/th/pre/f/2007/185/5/7/wood_wallpaper_by_stenosis.jpg);
}

h1{
  font-size: 55px;
  font-weight: 700;
  margin: 15px;
}

h3{
  font-size: 18px;
  font-weight: 300;
  margin-top: -10px;
  margin-bottom: 30px;
}

ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

li {
  display: inline-block;
  width: 100px;
  height: 150px;
  margin: 5px;
  border: 5px solid #FEFFFF;
  background: #CDEFF0;
  background-position: center;
  border-radius: 10px;
  vertical-align: top;
}

img {
  width:100px;
  height:150px;
  
}

.matched {
  background-color: blue;
}